# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environments
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
.DS_Store

# Streamlit
.streamlit/
.streamlit/secrets.toml

# Logs
*.log

# Temporary files
*.tmp

# Large data files (optional)
# data/raw_telco.csv
# data/processed_telco.csv
